body {
    cursor: none;
}

p {
    margin: 0;
}

.responsive {
    width: 100%;
    height: auto;
    margin: 4px;
    border-radius: 5px;
  }

.umpire-signal {
    max-height: 50%;
    max-width: 50%;
    border-radius: 5px;
}

.nb{
    margin: auto;
}

.nextball {
    background-color: yellowgreen;
    border-color: yellowgreen;
}

table {
    border-radius: 5px;
    border-top: 2px solid white;
    margin-left: 4px;
    font-family: 'IBM Plex Sans', sans-serif;
}

thead {
    font-size: 18px;
}

.btn {
    margin: 4px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
}

.btn-success {
    disabled: true
}

.jumbotron {
    margin: 4px;
    padding: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}

.img-container {
    min-height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    height: 158.594;
}

.cursor {
    z-index: 9999;
    width: 20px;
    height: 20px;
    border: 3px solid greenyellow;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 34px;
    height: 34px;
    position: absolute;
    border: 10px solid yellow;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    opacity: .25;
    transition-timing-function: ease-out;
    animation: cursorAnim2 .5s infinite alternate;
}

.book {
    border-top: 4px solid brown;
    border-left: 8px solid brown;
    border-bottom: 4px solid brown;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cell {
    background-image: linear-gradient(grey, white);
    opacity: .80;
    height: .75px;
}

.hide {
    display: none;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}


@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }

}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 3px solid slateblue;
}