body {
    cursor: none;
}

.responsive {
    width: 100%;
    height: auto;
    margin: 4px;
    border-radius: 5px;
  }

.nextball {
    background-color: greenyellow;
    border: 10px solid white;
    margin: auto;
    font-size: 10px;
    text-align: center;
}


.book, .empty {
    margin-top: auto;
    margin-bottom: auto;
}

.table {
    border-radius: 5px;
    margin-left: 4px;
}

.btn {
    margin: 4px;
}

.btn-success {
    disabled: true
}

.jumbotron {
    margin: 4px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.cursor {
    z-index: 9999;
    width: 20px;
    height: 20px;
    border: 3px solid greenyellow;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 34px;
    height: 34px;
    position: absolute;
    border: 10px solid yellow;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    opacity: .25;
    transition-timing-function: ease-out;
    animation: cursorAnim2 .5s infinite alternate;
}

.book {
    border-top: 4px solid brown;
    border-left: 8px solid brown;
    border-bottom: 4px solid brown;
    padding-left: 0;
    margin-bottom: 10px;
}

.cell {
    background-color: lightgray;
    opacity: .50;
    height: .75px;
}

.cell:hover {
    background-color: lightblue;
    opacity: .50;
}


.hide {
    display: none;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}


@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }

}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 3px solid slateblue;
}